<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>User Information</title>
    <link rel="stylesheet" href="/static/css/user-info.css"/>
</head>
<body>
<div class="card">
    <h1>회원 정보</h1>
    <div class="user-info">
        <p><strong>이름:</strong> <span th:text="${userInfo.name}">홍길동</span></p>
        <p><strong>상태:</strong> <span th:text="${userInfo.status.desc}">근무</span></p>
    </div>
    <button class="button" onclick="history.back()">뒤로 가기</button>
</div>
</body>
</html>